{% extends "navigation.html" %}

{% block content %}

<div class="container  col-md-6 col-md-offset-3">
	  <div class="alert alert-info"><strong>INFO:</strong> The real tasks will shortly be served... <br> To keep you motivated, please complete these Captchas, and, <strong>YES WE PAY</strong> <span class="label label-danger">0.01$</span>   (if it's correct! :) </div>
      <form class="col-md-6 col-md-offset-3" method="POST" action="{% url 'doCaptcha' %}">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="col-md-6 col-md-offset-3 btn btn-primary btn-large">Submit</button>
      </form>
</div>
{% endblock content %}