{% extends "navigation.html" %}

{% block content %}
<script type="application/javascript">
  $(document).ready(function() {
    $("#taskcustomer").show();
      $("#submitButton").click(function( event ) {
        event.preventDefault();
        if ( $("#mturk_form").parsley('validate') ) {
          $(this).button('loading');
          $(this).attr('disabled', 'disabled');
          $.ajax({
            url: "{% url "submit" batch.id %}",
            type: "POST"
          }).always(function() {
            $("#mturk_form").submit();
          });
        }
      });
  });
</script>
<section class="scrollable wrapper" id="taskcustomer">
  <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="panel"> 
          <div class="panel-heading bg-info"> Item to be matched 
          </div> 
          <div class="panel-body text-sm"> 
                      <small class="text-uc text-xs text-muted">Product's Name</small>
                      <p><h5>{{item.0}}</h5></p>
                      <small class="text-uc text-xs text-muted">Product's Price</small>
                      {% if item.1 %}
                        <p><h5>{{item.1}}</h5></p>
                      {% else %}
                        <p><h5>Not Available (N/A)</h5></p>
                      {% endif %}   
           </div> 
        </div>
      </div>
      <div class="col-sm-4">
        <form data-validate="parsley" id="mturk_form" action="https://www.mturk.com/mturk/externalSubmit" method="post">
          <input type="hidden" id="assignmentId" name="assignmentId" value="">
          <input type="hidden" id="hitId" name="hitId" value="">
          <input type="hidden" name="batch" value="{{batch.id}}">
          {% csrf_token %}
          <section class="panel">
            <header class="panel-heading bg-info">{{batch.description}}</header>
              <table class="table-responsive">
              <table class="table table-striped m-b-none text-sm">
                <thead>
                  <tr>
                    <th width="20"></th>
                    <th>Item</th>
                    <th width="20">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for it in items%}
                  <tr>
                    <td><input type="radio" name="answer" value="ans{{ forloop.counter }}"></td>
                    <td>{{it.0}}</td>
                    {% if it.1 %}
                      <td>{{it.1}}</td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}                  
                  </tr>
                  {% endfor %}
                  <tr>
                    <td><input type="radio" name="post[]" value="na"></td>
                    <td>None of the above</td>
                    <td>.</td>
                  </tr>
                </tbody>
              </table>
            </table>
              <footer class="panel-footer text-right bg-light lter">
                <div class="row"> 
                  <div class="col-sm-12 hidden-xs"> 
                    <button id="submitButton" type="submitButton" name="submitButton" class="btn btn-info">Submit</button>
                  </div>  
                </div>
              </footer>
          </section>
        </form>
      </div>
  </div>
</section>
{% endblock content %}
