{% extends "navigation.html" %}

{% block content %}
<script type="application/javascript">
  $(document).ready(function() {
      $('#taskcustomer').show();
      $("#submitButton").click(function( event ) {
        event.preventDefault();
        if ( $("#mturk_form").parsley('validate') ) {
          $(this).button('loading');
          $(this).attr('disabled', 'disabled');
          $.ajax({
            url: "{% url "submit" task.id %}",
            type: "POST"
          }).always(function() {
            $("#mturk_form").submit();
          });
        }
      });
  });
</script>
<section class="scrollable wrapper" id="taskcustomer" style="display:none;">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <form data-validate="parsley" id="mturk_form" action="https://www.mturk.com/mturk/externalSubmit" method="post">
          <input type="hidden" id="assignmentId" name="assignmentId" value="">
          <input type="hidden" id="hitId" name="hitId" value="">
            <section class="panel">
              <header class="panel-heading bg-info">
                <span class="h4">{{batch.description}}</span>
              </header>
              <div class="panel-body">
                <div class="col-sm-6">
                  <div class="post-media">
                      <a href="#"><img src="https://s3-us-west-2.amazonaws.com/butterflies/{{task.question}}" class="img-full"></a>
                  </div>
                </div>
                <div class="col-sm-6">                     
                    <div class="form-group">                  
                              <!-- radio -->
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="admiral">
                                <i class="icon-circle-blank"></i>
                                Admiral
                              </label>
                            </div>
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="black_swallowtail">
                                <i class="icon-circle-blank"></i>
                                Black Swallowtail
                              </label>
                            </div>
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="machaon">
                                <i class="icon-circle-blank"></i>
                                Machaon
                              </label>
                            </div>
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="monarch_closed">
                                <i class="icon-circle-blank"></i>
                                Monarch
                              </label>
                            </div>
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="peacock">
                                <i class="icon-circle-blank"></i>
                                Peacock
                              </label>
                            </div>
                            <div class="radio">
                              <label class="radio-custom">
                                <input type="radio" name="answer" value="zebra" data-required="true">
                                <i class="icon-circle-blank"></i>
                                Zebra
                              </label>
                            </div>
                    </div>
                </div>
              </div>
              <footer class="panel-footer text-right bg-light lter">
                <button id="submitButton" type="submitButton" name="submitButton" class="btn btn-info">Submit</button>
              </footer>
            </section>
            <input type="hidden" name="bonus" value="{{bonus}}"> 
            {% csrf_token %}
        </form>
          <div class="alert alert-info alert-block">
            <h6>*Hourly Rate is defined as: The reward + The extra bonus, divided by the time to finish the HIT.</h6>
          </div>
      </div>
      <div class="col-sm-3"> 
          <div class="alert alert-warning alert-block">
            <h6>External wikipedia pages</h6>
            <ul>
            <li><a href="http://en.wikipedia.org/wiki/Vanessa_atalanta" target="_blank">Admiral</a></li>
            <li><a href="http://en.m.wikipedia.org/wiki/Black_Swallowtail" target="_blank">Black Swallowtail</a></li>
            <li><a href="http://en.m.wikipedia.org/wiki/Papilio_machaon">Machaon</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Monarch_butterfly">Monarch</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Inachis_io">Peacock</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Heliconius_charithonia">Zebra</a></li>
            </ul>
          </div>
      </div>
  </div>
</section>
{% endblock content %}
