{% extends "navigation.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <div class="container">
      {% crispy login_form %}
    </div>
    <blockquote>
      <p>* Your MTurk ID is needed for your payment, it could be obtained here: <a href="https://www.mturk.com/mturk/dashboard">https://www.mturk.com/mturk/dashboard</a> </p>
      <small>The top-right corner</small>
      <img src="{% static "img/dashboard.jpg" %}" style="border: 2px solid black;" /></p>
    </blockquote>
  </div>
  </div>
</div>
{% endblock content %}
