{% extends "navigation.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
      <div class="well">
        <legend>Sign in to WebApp</legend>
        <form method="POST" action="" accept-charset="UTF-8">
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
            </div>      
            <input class="span3" placeholder="Username" type="text" name="username">
            <input class="span3" placeholder="Password" type="password" name="password"> 
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
        </form>    
      </div>
    </div>
</div>
<div class="container col-md-6 col-md-offset-3">
  <div class="jumbotron">
    <div class="container">
      {% crispy login_form %}
    </div>
    <blockquote>
      <p>* Your MTurk ID is needed for your payment, it could be obtained here: <a href="https://www.mturk.com/mturk/dashboard">https://www.mturk.com/mturk/dashboard</a> </p>
      <small>The top-right corner</small>
      <img src="{% static "img/dashboard.jpg" %}" style="border: 2px solid black;" /></p>
    </blockquote>
  </div>
  </div>
</div>
{% endblock content %}
