<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} trained</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugin.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/ie/respond.min.js" cache="false"></script>
      <script src="{{ STATIC_URL }}js/ie/html5.js" cache="false"></script>
      <script src="{{ STATIC_URL }}js/ie/fix.js" cache="false"></script>
    <![endif]-->
    {% block page-css %}{% endblock page-css %}
    <script language="Javascript">
      //
      // This method Gets URL Parameters (GUP)
      //
      function gup( name )
      {
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var tmpURL = window.location.href;
        var results = regex.exec( tmpURL );
        if( results == null )
          return "";
        else
          return results[1];
      }

      //
      // This method decodes the query parameters that were URL-encoded
      //
      function decode(strToDecode)
      {
        var encoded = strToDecode;
        return unescape(encoded.replace(/\+/g,  " "));
      }

      </script>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <!-- Sparkline Chart -->
    <script src="{{ STATIC_URL }}js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- App -->
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/app.plugin.js"></script>
    <script src="{{ STATIC_URL }}js/app.data.js"></script>
    
    <script src="{{ STATIC_URL }}js/parsley/parsley.min.js" cache="false"></script>
    <script src="{{ STATIC_URL }}js/parsley/parsley.extend.js" cache="false"></script>
  </head>
  <body>
  <section>
    {% if user.is_authenticated %}
    <div class="header bg-dark">
      <div class="row m-l-none m-r-none">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="clearfix m-t-lg m-b-sm pull-none-xs">
            <div class="pull-right  m-l-lg">                  
              <div class="pull-right m-r-xs">
                <div data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bonus you will get from this batch upon approval">
                    <span class="text-muted">Total Bonus:</span>
                    <span class="h4 text-info block">${{user_profile.credit}}</span>
                  </div>
              </div>
            </div>
            <div class="pull-right  m-l-lg">                  
              <div class="pull-right m-r-xs">
                <div data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bonus you will get from this HIT upon approval">
                    <span class="text-muted">Bonus for This HIT:</span>
                    <span class="h4 text-info block">${{bonus}}</span>
                  </div>
              </div>
            </div>
            <div class="pull-right  m-l-lg">
              <div class="clear" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Speed of the previous HIT you submitted">
                <span class="text-muted block">Your Last Hourly Rate:</span>                    
                <span class="h4 text-info">${{last}}/Hour</span>
                {% if upside%}
                <i class="icon-level-up text-success"></i>
                {%else%}
                <i class="icon-level-down text-danger"></i>
                {%endif%}
              </div>
            </div>
            <div class="pull-right  m-l-lg">
              <div class="pull-left m-r-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Speed of all the HITs you submitted">
                <div id="superchart" class="sparkline inline" data-type="bar" data-height="35" data-bar-width="4" data-bar-spacing="2" data-bar-color="#fb6b5b">{{data}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endif %}
  </section>
  {% block content_title %}{% endblock %}
  {% block content %}{% endblock content %}

  <script language="Javascript">
    document.getElementById('assignmentId').value = gup('assignmentId');
    if (gup('assignmentId') == "ASSIGNMENT_ID_NOT_AVAILABLE" || gup('assignmentId')=="")
    {
      // If we're previewing, disable the button and give it a helpful message
      document.getElementById('submitButton').disabled = true;
      document.getElementById('submitButton').innerHTML = "You must ACCEPT the HIT before you can submit the results.";
    } else {
        var form = document.getElementById('mturk_form');
        if (document.referrer && ( document.referrer.indexOf('workersandbox') != -1) ) {
            form.action = "https://www.mturk.com/mturk/externalSubmit";
        }
    }

</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#welcomebody').show();
});
</script>
</body>
</html>
