<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} trained</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugin.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fuelux/fuelux.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/select2/select2.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/ie/respond.min.js" cache="false"></script>
      <script src="{{ STATIC_URL }}js/ie/html5.js" cache="false"></script>
      <script src="{{ STATIC_URL }}js/ie/fix.js" cache="false"></script>
    <![endif]-->
    {% block page-css %}{% endblock page-css %}
    <script language="Javascript">
      //
      // This method Gets URL Parameters (GUP)
      //
      function gup( name )
      {
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var tmpURL = window.location.href;
        var results = regex.exec( tmpURL );
        if( results == null )
          return "";
        else
          return results[1];
      }

      //
      // This method decodes the query parameters that were URL-encoded
      //
      function decode(strToDecode)
      {
        var encoded = strToDecode;
        return unescape(encoded.replace(/\+/g,  " "));
      }

      </script>

  </head>
  <body>
  {% block content_title %}{% endblock %}
  {% block content %}{% endblock content %}

    <!-- Bootstrap -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <!-- Sparkline Chart -->
    <script src="{{ STATIC_URL }}js/charts/sparkline/jquery.sparkline.min.js"></script>
    <!-- App -->
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/app.plugin.js"></script>
    <script src="{{ STATIC_URL }}js/app.data.js"></script>
    <script src="{{ STATIC_URL }}js/fuelux/fuelux.js"></script>
    <script src="{{ STATIC_URL }}js/select2/select2.min.js"></script>
    
    <script src="{{ STATIC_URL }}js/parsley/parsley.min.js"></script>
    <script src="{{ STATIC_URL }}js/parsley/parsley.extend.js"></script>
    <script language="Javascript">
      if( document.getElementById('assignmentId') ){
        document.getElementById('assignmentId').value = gup('assignmentId');
      }
      if (document.getElementById('submitButton')) {
        if (gup('assignmentId') == "ASSIGNMENT_ID_NOT_AVAILABLE" || gup('assignmentId')=="")
        {
          // If we're previewing, disable the button and give it a helpful message
          document.getElementById('submitButton').disabled = true;
          document.getElementById('submitButton').innerHTML = "You must ACCEPT the HIT before you can submit the results.";
        } else {
            var form = document.getElementById('mturk_form');
            if (document.referrer && ( document.referrer.indexOf('workersandbox') != -1) ) {
                form.action = "https://www.mturk.com/mturk/externalSubmit";
            }
        }
      }
    </script>
</body>
</html>
