{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %} Fast</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
    <script type="text/javascript" src="https://use.typekit.net/gbh7uto.js"></script>
    <style type="text/css">.tk-proxima-nova{font-family:"proxima-nova",sans-serif;}</style>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% block page-css %}{% endblock page-css %}
    <style media="screen" type="text/css">
      .fade {
      opacity: 1;
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
      }
      .fade.out {
          opacity: 0;
      }
    </style>
  </head>
  <body>

  {% load tracking_tags %}
  {% visitors_on_site as visitors %}

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fast</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Active User{{ visitors|pluralize }} <span class="badge">{{ visitors }}</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">User : <span class="label label-info">{{ request.user }}</span></a></li>
        <li><a href="#">Credit : <span class="label label-success">{{ user_profile.credit }}</span></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  {% block content_title %}{% endblock %}
  {% block content %}{% endblock content %}
</html>
