{% extends "navigation.html" %}

{% block content %}

<div class="container">
  <script type="application/javascript">
  $(document).ready(function() {
      $('#submit').click(function() {
         $(this).button('loading');
         });
      $('#skip').click(function() {
         $(this).button('loading');
         });
     });
  </script>
  <div class="jumbotron">
    <div class="container">
      <form role="form" action="{% url "click" task.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <p>{{ description }}</p>
          <label for="exampleInputEmail1">{% if img %}<img src="{{ task.question }}" />{% else %}{{ task.question }}{% endif %}</label>
          <textarea class="form-control" rows="3" placeholder="Input here..." ></textarea>
        </div>
        <button id="skip" type="submit" name="skip" class="btn btn-primary">Skip</button>
        <button id="submit" type="submit" name="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
