{% extends "navigation.html" %}

{% block content %}

<div class="container">
  <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title"> {{ batch.name }}    <span class="label label-danger">Value = {{batch.value}}$</span></h3>
      </div>
      <div class="panel-body">
         {{ batch.description }}
      </div>
  </div>
</div>
<div class="container">
  <script type="application/javascript">
  $(document).ready(function() {
      $('#submit').click(function() {
         $(this).button('loading');
         });
      $('#skip').click(function() {
         $(this).button('loading');
         });
     });
  </script>
  <div class="jumbotron">
    <div class="container">
      <form role="form" action="{% url "click" task.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">
            {% if img %}
              <img src="{{ STATIC_URL }}img/{{ task.question }}" />
            {% else %}
              <h5>{{ task.question }}</h5>
            {% endif %}
          </label>
          <textarea class="form-control" rows="3" placeholder="Type your answer here." ></textarea>
        </div>
        <button id="skip" type="submit" name="skip" class="btn btn-primary">Skip</button>
        <button id="submit" type="submit" name="submit" class="btn btn-success">Submit</button><br />
        <button id="skipbatch" type="submit" name="skipbatch" class="btn btn-danger">Skip similar tasks</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
