{% extends "navigation.html" %}

{% block content %}
<form role="form" action="{% url "click" task.id %}" method="post">
<div class="container">
  <div class="alert alert-block alert-info fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>{{ batch.name }}, Instructions: </h4>
        <p>{{ batch.description }}</p>
        <br>
        <p>
          <a class="btn btn-success disabled" href="#"><strong>Value =</strong>{{batch.value}}$</a> 
          <button id="skipbatch" type="submit" name="skipbatch" class="btn btn-danger pull-right">Skip</button> 
        </p>
  </div>
</div>
<div class="container">
  <script type="application/javascript">
  $(document).ready(function() {
      $('#submit').click(function() {
         $(this).button('loading');
         });
      $('#skip').click(function() {
         $(this).button('loading');
         });
     });
  </script>
  <div>
    <div class="container">
      <form role="form" action="{% url "click" task.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <blockquote>
            {% if img %}
              <img src="{{ STATIC_URL }}img/{{ task.question }}" />
            {% else %}
              {{ task.question }}
            {% endif %}
          </blockquote>
          <textarea class="form-control" rows="3" placeholder="Type your answer here." ></textarea>
        </div>
        <button id="skip" type="submit" name="skip" class="btn btn-primary">Skip</button>
        <button id="submit" type="submit" name="submit" class="btn btn-success">Submit</button>
      
    </div>
  </div>
</div>
</form>
{% endblock content %}
