{% extends "navigation.html" %}

{% block content %}

<div id="welcomebody" class="container">
  <div class="jumbotron">
    <h3>Task Outlet</h3>
    This batch contains different types of easy tasks, including:<br>
    <ul>
      <li> Classification </li>
      <li> Item Matching </li>
      <li> Short spell check </li>
      <li> Image tagging </li>
      <li> Sentiment analysis </li>
    </ul>
  </div>
  <div class="alert alert-danger alert-block">
    <h4><i class="icon-bell-alt"></i> Please, do not return a HIT or abondon it.</h4>
  </div>
</div>

{% endblock content %}
