{% extends "navigation.html" %}

{% block content %}

<div id="welcomebody" class="container" style="display:none;">
  <div class="jumbotron">
  	<h3>Find the Customer Service Phone Number of a US based company</h3>
  	This is a study on work efficiency versus reward.<br>
  </div>
  <div class="alert alert-info alert-block">
    <h4><i class="icon-bell-alt"></i>Please, complete the tasks faithfully, and you will receive the marked bonus in addition
  	to the reward of the HIT</h4>
  </div>
  <div class="alert alert-info alert-block">
    <h4><i class="icon-star"></i>For your information we show you your speed performance after each task:</h4>
      	<ul class="h5">
	  		<li>Overtime Hourly Rate : <span class="text-danger"> Efficiency in $/Hour of all the hits you submitted.</span></li>
	  		<li>Last Hourly Rate : <span class="text-danger">Efficiency in $/Hour of the last hit you submitted.</span></li>
	  	<ul>
  </div>
</div>

{% endblock content %}
